.restaurant-choose {
  display: flex;
  flex-direction: column;
}

.restaurant-choose__wrapper {
  display: flex;
  justify-content: center;
}

.restaurant-choose__city {
  font-size: 22px;
  line-height: 34px;
  margin: 56px 0 16px;

}

.restaurant-choose__first,
.restaurant-choose__second,
.restaurant-choose__third {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
